<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsYxRzt_OegzgL0yo-HNXpfyYhlOCMZUw</string>
	<key>GCM_SENDER_ID</key>
	<string>1049971222608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartWorkoutApp</string>
	<key>PROJECT_ID</key>
	<string>smart-workout-app-e0f97</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-workout-app-e0f97.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049971222608:ios:e8bdd20e558c6b84cd8955</string>
</dict>
</plist>